
WPFTestApp/obj/Debug/net8.0-windows/WPFTestApp.AssemblyInfo.cs
WPFTestApp/.vs/WPFTestApp/v17/.suo
*.bin
/WPFTestApp/.vs
WPFTestApp/.vs/ProjectEvaluation/wpftestapp.metadata.v7.bin
WPFTestApp/.vs/ProjectEvaluation/wpftestapp.projects.v7.bin
WPFTestApp/.vs/WPFTestApp/v17/.suo
*.bin
/WPFTestApp/.vs
